.loshuGridMinHight {
    min-height: 80px;
}

.onlyPrint {
    display: none;
}

.watermark-text {
    display: none;
}

.rotate-270 {
    transform: rotate(270deg)
}

//  ########################## Print ######################################

@media print {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    
    body,
    html {
        background: white !important;
        -webkit-print-color-adjust: exact !important;
        /* keep correct colors */
        print-color-adjust: exact !important;
    }

    .print-section,
    #print-section {
        background: white !important;
    }

    .page-break {
        page-break-before: always;
        break-before: page;
        /* For modern browsers */
    }

    .onlyPrint {
        display: block !important;
    }

    .watermark-text {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-30deg);
        font-size: 5rem;
        color: #aaa;
        opacity: 0.02;
        pointer-events: none;
        z-index: 9999;
        white-space: nowrap;
    }
}